/* TABLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
	font-family: $font-style-1;
}


th {
	padding: 12px 15px;
	text-align: center;
	border-bottom: 2px solid $color-1;
	color: $color-1;
	font-size: 0.8rem;
	//text-transform: uppercase;
	font-weight: 400;
 }


td {
	padding: 10px 12px;
	text-align: left;
	border-bottom: 1px solid $color-1; 
	color: $color-1;
	font-size: 18px;
}


th:first-child, td:first-child {
  padding-left: 0; 
}

th:last-child, td:last-child {
  padding-right: 0; 
}